<!DOCTYPE html>
<html>
<head>
    <title>Parkinson Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='st.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/header-main.jpg') }}" alt="Header Image">
        <h1>شركة هوميتكس الهندسية لتكنولوجيا المعلومات</h1>
        <h3>معكم نحو تكنولوجيا أفضل</h3>
    </header>
     <div class="container">
     <div class="grid">
      <div class="col-10_sm-12 graph">
       <div class="cell cell-1"></div>
       <div class="cell cell-2"></div>
       <div class="cell cell-3"></div>
       <div class="cell cell-4"></div>
       <div class="cell cell-5"></div>
       <div class="cell cell-6"></div>
      </div>
      <div class="col-2_sm-12">
       <div class="number-1"><span>&#9829;</span></div>
      </div>
     </div>
    </div>
    <h1 class="project_name">Homedical Assistant</h1>
    <div id="mySidebar" class="sidebar">
        <button class="closebtn" onclick="closeNav()">&times;</button>

        <a href="{{ url_for('index') }}">
            <i class="fas fa-home"></i> Home
        </a>

        <a href="page1">
            <i class="fas fa-vial"></i> Blood Glucose
        </a>
         <a href="page2">
             <i class="fas fa-heartbeat"></i> Heart Disease
         </a>

         <a href="page3">
             <i class="fas fa-brain"></i> Parkinson Disease
         </a>
        <a href="{{ url_for('page4') }}">
            <i class="fas fa-pills"></i> Thyroid Disease
        </a>
        <a href="{{ url_for('page5') }}">
           <i class="fas fa-virus"></i> Hepatitis Disease
        </a>
         <a href="{{ url_for('page6') }}">
           <i class="fas fa-poll"></i> Depression Test
        </a>


    </div>


    <button class="openbtn" onclick="openNav()">☰</button>
    <div class="main-content">
      <form id="knn-form">
        <h1>Parkinson Disease Prediction</h1>
        <div class="form-rowfour">
          <div>
              <label for="MDVP:Fo(Hz)">MDVP:Fo(Hz):</label>
              <input type="number" id="MDVP:Fo(Hz)" name="MDVP:Fo(Hz)" required>
          </div>
          <div>
              <label for="MDVP:Fhi(Hz)">MDVP:Fhi(Hz):</label>
              <input type="number" id="MDVP:Fhi(Hz)" name="MDVP:Fhi(Hz)" required>
          </div>
          <div>
              <label for="MDVP:Flo(Hz)">MDVP:Flo(Hz)</label>
              <input type="number" id="MDVP:Flo(Hz)" name="MDVP:Flo(Hz)" required>
          </div>
          <div>
              <label for="MDVP:Jitter(%)">MDVP:Jitter(%)</label>
              <input type="number" id="MDVP:Jitter(%)" name="MDVP:Jitter(%)" required>
          </div>
        </div>
        <div class="form-rowfour">
          <div>
              <label for="Jitter:DDP">Jitter:DDP:</label>
              <input type="number" id="Jitter:DDP" name="Jitter:DDP" required>
          </div>
          <div>
              <label for="Shimmer:APQ5">Shimmer:APQ5</label>
              <input type="number" id="Shimmer:APQ5" name="Shimmer:APQ5" required>
          </div>
          <div>
              <label for="HNR">HNR</label>
              <input type="number" id="HNR" name="HNR" required>
          </div>
          <div>
              <label for="spread1">spread1</label>
              <input type="number" id="spread1" name="spread1" required>
          </div>
        </div>
        <div class="form-row">
          <div>
              <label for="spread2">spread2</label>
              <input type="number" id="spread2" name="spread2" required>
          </div>
          <div>
              <label for="PPE">PPE</label>
              <input type="number" id="PPE" name="PPE" required>
          </div>
        </div>
           <div class="form-submit">
            <button type="submit">Make Prediction</button>
           </div>
      </form>
    </div>
    <div class="result-row">
      <div id="Parkinson" class="result-box"> The Result </div>
    </div>
    <div class="FBox">
        <h3> تشمل التشخيص التقليدي لمرض باركنسون قيام الطبيب بأخذ تاريخ عصبي للمريض ومراقبة المهارات الحركية في مواقف مختلفة. نظرًا لعدم وجود اختبار مختبري محدد لتشخيص مرض باركنسون </h3>
        <div class="description">
            <ul>
                <li><strong>MDVP:Fo(Hz):</strong> أدخل التردد الأساسي للصوت (Fo) بوحدة هيرتز (Hz). يعكس هذا التردد معدل اهتزازات الحبال الصوتية.</li>
                <li><strong>MDVP:Fhi(Hz):</strong> أدخل أعلى تردد للصوت (Fhi) بوحدة هيرتز (Hz). يمثل هذا التردد أعلى قيمة للتردد خلال الصوت المسجل.</li>
                <li><strong>MDVP:Flo(Hz):</strong> أدخل أقل تردد للصوت (Flo) بوحدة هيرتز (Hz). يمثل هذا التردد أدنى قيمة للتردد خلال الصوت المسجل.</li>
                <li><strong>MDVP:Jitter(%):</strong> أدخل نسبة الـ Jitter، والتي تمثل التباين في التردد الصوتي من دورة لأخرى. يُستخدم هذا القياس لتقييم استقرار الصوت.</li>
                <li><strong>Jitter:DDP:</strong> أدخل قيمة الـ DDP، وهو مقياس آخر للتباين في التردد الصوتي يشير إلى الفرق النسبوي بين ثلاث دورات متتالية.</li>
                <li><strong>Shimmer:APQ5:</strong> أدخل قيمة الـ Shimmer، وهو مقياس للاختلافات في السعة الصوتية. يعكس هذا القياس عدم الاستقرار في اتساع الصوت.</li>
                <li><strong>HNR:</strong> أدخل نسبة الإشارة إلى الضوضاء (HNR)، والتي تعكس جودة الصوت من حيث التمييز بين الإشارة الصوتية والضوضاء.</li>
                <li><strong>spread1:</strong> أدخل قيمة الانتشار الأول (spread1)، وهو مقياس يستخدم لتحليل انتشار الطاقة الصوتية عبر نطاق التردد.</li>
                <li><strong>spread2:</strong> أدخل قيمة الانتشار الثاني (spread2)، وهو مقياس إضافي لانتشار الطاقة الصوتية عبر نطاق التردد.</li>
                <li><strong>PPE:</strong> أدخل قيمة الـ PPE، وهو مقياس للتباين في الطاقة الصوتية، ويُستخدم لتحليل استقرار وقوة الصوت.</li>
            </ul>
        </div>
        <h3 style="direction: rtl" > <a href="https://www.kaggle.com/datasets/debasisdotcom/parkinson-disease-detection/data" target="_blank">
             <i class="fas fa-database text-xl hover:text-slate-900">
                 قاعدة البيانات المستخدمة
             </i>
        </a></h3>
    </div>

     <footer>
        <div class="black-box">
            <div class="black-row">
                <img src="static/img/logo-light.png" alt="Header Image">
                <p>وضعت الشركة عنوان التميز والعمل الدؤوب كضمان لتحقيق النجاح على المدى الطويل والذي يحقق الجودة والقيمة المضافة للزبائن والعاملين </p>
            </div>
            <div class="black-row">
                <h2>خدماتنا</h2>
                 <a href="#">أتمتة شركات القطاع العام والخاص</a>
                 <a href="#">تطوير تطبيقات الموبايل</a>
                 <a href="#">التسجيل الالكتروني لمختلف الفعاليات</a>
                 <a href="#">التجارة الالكترونية </a>
                 <a href="#"> إدارة الوثائق الالكترونية والأرشفة </a>
            </div>
            <div class="black-row">
                <h2>اتصال </h2>
                <p> حمص - باب دريب - بناء دار المهندسين </p>
                <p> 00963933235754 </p>
                <a href="mailto:info@hometecs.sy"> info@hometecs.sy </a>
                <a href="#"> www.hometecs.sy </a>

            </div>
            <div class="black-row">
                <h2> النشرة الإخبارية </h2>
                <p> للاشتراك بخدمة البريد الالكتروني و متابعة جديدنا يمكنك إدخال عنوان بريدك الالكتروني </p>

            </div>
        </div>
        <a href="https://www.facebook.com/Hometecs.sy" target="_blank" aria-label="Facebook" title="Facebook">
            <i class="fab fa-facebook-f text-xl hover:text-slate-900"></i>
        </a>

        <a href="https://www.instagram.com/hometecs.sy3/" target="_blank" aria-label="Instagram" title="Instagram">
            <i class="fab fa-instagram text-xl hover:text-slate-900"></i>
        </a>
      <p>حقوق النشر و التأليف محفوظة@ شركة هومتيكس لتكنولوجيا المعلومات© 2024</p>
    </footer>
    <script>
    function openNav() {
        document.getElementById("mySidebar").classList.add("open");
        document.querySelector(".openbtn").classList.add("hidden");
    }

    function closeNav() {
        document.getElementById("mySidebar").classList.remove("open");
        document.querySelector(".openbtn").classList.remove("hidden");
    }

document.getElementById('knn-form').onsubmit = async function(event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        const formObject = Object.fromEntries(formData.entries());

        const ParkinsonBox = document.getElementById('Parkinson');

        try {
            const response = await fetch('/page3', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formObject),
            });

            const result = await response.json();
            ParkinsonBox.textContent = result.Parkinson;

            if (result.Parkinson.includes('Have Parkinson')) {
                ParkinsonBox.className = 'result-box high-risk';
            }  if (result.Parkinson.includes('Do Not Have Parkinson')) {
                ParkinsonBox.className = 'result-box low-risk';
            }

        } catch (error) {
            console.error('Error:', error);
            diagnosisBox.textContent = 'Error Occurred';
            diagnosisBox.className = 'result-box high-risk';
        }
};



</script>
</body>
</html>