<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='st.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/header-main.jpg') }}" alt="Header Image">
        <h1>شركة هوميتكس الهندسية لتكنولوجيا المعلومات</h1>
        <h3>معكم نحو تكنولوجيا أفضل</h3>
    </header>
     <div class="container">
     <div class="grid">
      <div class="col-10_sm-12 graph">
       <div class="cell cell-1"></div>
       <div class="cell cell-2"></div>
       <div class="cell cell-3"></div>
       <div class="cell cell-4"></div>
       <div class="cell cell-5"></div>
       <div class="cell cell-6"></div>
      </div>
      <div class="col-2_sm-12">
       <div class="number-1"><span>&#9829;</span></div>
      </div>
     </div>
    </div>
    <h1 class="project_name">Homedical Assistant</h1>
    <div id="mySidebar" class="sidebar">
        <button class="closebtn" onclick="closeNav()">&times;</button>

        <a href="{{ url_for('index') }}">
            <i class="fas fa-home"></i> Home
        </a>

        <a href="{{ url_for('page1') }}">
            <i class="fas fa-vial"></i> Blood Glucose
        </a>
        <a href="{{ url_for('page2') }}">
            <i class="fas fa-heartbeat"></i> Heart Disease
        </a>

        <a href="{{ url_for('page3') }}">
            <i class="fas fa-brain"></i> Parkinson Disease
        </a>
        <a href="{{ url_for('page4') }}">
            <i class="fas fa-pills"></i> Thyroid Disease
        </a>
        <a href="{{ url_for('page5') }}">
           <i class="fas fa-virus"></i> Hepatitis Disease
        </a>
        <a href="{{ url_for('page6') }}">
           <i class="fas fa-poll"></i> Depression Test
        </a>
    </div>

    <button class="openbtn" onclick="openNav()">☰</button>
    <div class="main-content">
        <form id="knn-form" action="{{ url_for('page2') }}" method="post">
            <h1>Heart Disease Prediction</h1>
            <div class="form-rowfour">
                <div>
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="Age" required>
                </div>
                <div>
                    <label for="sex">Sex:</label>
                    <select id="sex" name="Sex" required>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
                <div>
                    <label for="chestPainType">Chest Pain Type:</label>
                    <select id="chestPainType" name="ChestPainType" required>
                        <option value="1">Typical Angina</option>
                        <option value="2">Atypical Angina</option>
                        <option value="3">Non-anginal Pain</option>
                        <option value="4">Asymptomatic</option>
                    </select>
                </div>
                <div>
                    <label for="restingBP">Resting Blood Pressure:</label>
                    <input type="number" id="restingBP" name="RestingBP" required>
                </div>
            </div>
            <div class="form-rowfour">
                <div>
                    <label for="cholesterol">Cholesterol:</label>
                    <input type="number" id="cholesterol" name="Cholesterol" required>
                </div>
                <div>
                    <label for="fastingBS">FastingBS:</label>
                    <select id="fastingBS" name="FastingBS" required>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div>
                    <label for="restingECG">Resting ECG:</label>
                    <select id="restingECG" name="RestingECG" required>
                        <option value="0">Normal</option>
                        <option value="1">ST-T Wave Abnormality</option>
                        <option value="2">Left Ventricular Hypertrophy</option>
                    </select>
                </div>
                <div>
                    <label for="maxHR">Maximum Heart Rate:</label>
                    <input type="number" id="maxHR" name="MaxHR" required>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="exerciseAngina">Exercise Angina:</label>
                    <select id="exerciseAngina" name="ExerciseAngina" required>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div>
                    <label for="oldpeak">Oldpeak:</label>
                    <input type="number" id="oldpeak" name="Oldpeak" step="0.1" required>
                </div>
                <div>
                    <label for="stSlope">ST Slope:</label>
                    <select id="stSlope" name="ST_Slope" required>
                        <option value="1">Upsloping</option>
                        <option value="2">Flat</option>
                        <option value="3">Downsloping</option>
                    </select>
                </div>
            </div>
            <div class="form-submit">
                <button type="submit">Make Prediction</button>
            </div>
        </form>
    </div>
    <div class="result-row">
        <div id="diagnosis" class="result-box">The Result</div>
    </div>
    <div class="FBox">
        <h3> تم دمج 5 مجموعات بيانات عن أمراض القلب عبر 11 ميزة شائعة، مما يجعلها أكبر مجموعة بيانات متاحة حتى الآن لأغراض البحث </h3>
        <h3 style="direction: rtl" > الاستشهاد fedesoriano: (سبتمبر 2021). مجموعة بيانات توقع فشل القلب. </h3>
        <div class="description">
            <ul>
                <li><strong>Age:</strong> أدخل عمرك بالسنوات.</li>
                <li><strong>Sex:</strong> اختر جنسك. اختر "Male" إذا كنت ذكراً، أو "Female" إذا كنت أنثى.</li>
                <li><strong>Chest Pain Type:</strong> اختر نوع ألم الصدر. الخيارات تشمل:
                    <ul>
                        <li>Typical Angina: <i>  الذبحة الصدرية النموذجية. </i></li>
                        <li>Atypical Angina:<i> الذبحة الصدرية غير النموذجية. </i></li>
                        <li>Non-anginal Pain:<i> ألم غير مرتبط بالذبحة الصدرية. </i></li>
                        <li>Asymptomatic:<i> بدون أعراض. </i></li>
                    </ul>
                </li>
                <li><strong>Resting Blood Pressure:</strong> أدخل ضغط الدم الانبساطي أثناء الراحة، وعادةً ما يُقاس بوحدة mm Hg.</li>
                <li><strong>Cholesterol:</strong> أدخل مستوى الكوليسترول الكلي في الدم بوحدة mg/dL.</li>
                <li><strong>Fasting Blood Sugar:</strong> اختر إذا كان مستوى السكر في الدم أثناء الصيام أعلى من 120 mg/dL (Yes) أو أقل (No).</li>
                <li><strong>Resting ECG:</strong> اختر نتيجة تخطيط كهربية القلب أثناء الراحة. الخيارات تشمل:
                    <ul>
                        <li>Normal:<i> طبيعي.</i></li>
                        <li>ST-T Wave Abnormality:<i> اضطراب موجة ST-T.</i></li>
                        <li>Left Ventricular Hypertrophy:<i> تضخم البطين الأيسر.</i></li>
                    </ul>
                </li>
                <li><strong>Maximum Heart Rate:</strong> أدخل الحد الأقصى لمعدل ضربات القلب الذي تم تحقيقه.</li>
                <li><strong>Exercise Angina:</strong> اختر إذا كنت تعاني من ذبحة صدرية أثناء التمرين (Yes) أو لا (No).</li>
                <li><strong>Oldpeak:</strong> أدخل القيمة التي تشير إلى انخفاض في ST خلال التمرين مقارنة بالراحة، وعادةً ما تُقاس بوحدة mm.</li>
                <li><strong>ST Slope:</strong> اختر ميل شريحة ST. الخيارات تشمل:
                    <ul>
                        <li>Upsloping:<i> تصاعدي.</i></li>
                        <li>Flat:<i> مسطح.</i></li>
                        <li>Downsloping:<i> تنازلي.</i></li>
                    </ul>
                </li>
            </ul>
        </div>
        <h3 style="direction: rtl" > <a href="https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction" target="_blank">
             <i class="fas fa-database text-xl hover:text-slate-900">
                 قاعدة البيانات المستخدمة
             </i>
        </a></h3>

    </div>

      <footer>
        <div class="black-box">
            <div class="black-row">
                <img src="static/img/logo-light.png" alt="Header Image">
                <p>وضعت الشركة عنوان التميز والعمل الدؤوب كضمان لتحقيق النجاح على المدى الطويل والذي يحقق الجودة والقيمة المضافة للزبائن والعاملين </p>
            </div>
            <div class="black-row">
                <h2>خدماتنا</h2>
                 <a href="#">أتمتة شركات القطاع العام والخاص</a>
                 <a href="#">تطوير تطبيقات الموبايل</a>
                 <a href="#">التسجيل الالكتروني لمختلف الفعاليات</a>
                 <a href="#">التجارة الالكترونية </a>
                 <a href="#"> إدارة الوثائق الالكترونية والأرشفة </a>
            </div>
            <div class="black-row">
                <h2>اتصال </h2>
                <p> حمص - باب دريب - بناء دار المهندسين </p>
                <p> 00963933235754 </p>
                <a href="mailto:info@hometecs.sy"> info@hometecs.sy </a>
                <a href="#"> www.hometecs.sy </a>

            </div>
            <div class="black-row">
                <h2> النشرة الإخبارية </h2>
                <p> للاشتراك بخدمة البريد الالكتروني و متابعة جديدنا يمكنك إدخال عنوان بريدك الالكتروني </p>

            </div>
        </div>
        <a href="https://www.facebook.com/Hometecs.sy" target="_blank" aria-label="Facebook" title="Facebook">
            <i class="fab fa-facebook-f text-xl hover:text-slate-900"></i>
        </a>

        <a href="https://www.instagram.com/hometecs.sy3/" target="_blank" aria-label="Instagram" title="Instagram">
            <i class="fab fa-instagram text-xl hover:text-slate-900"></i>
        </a>
      <p>حقوق النشر و التأليف محفوظة@ شركة هومتيكس لتكنولوجيا المعلومات© 2024</p>
    </footer>
    <script>
        function openNav() {
            document.getElementById("mySidebar").classList.add("open");
            document.querySelector(".openbtn").classList.add("hidden");
        }

        function closeNav() {
            document.getElementById("mySidebar").classList.remove("open");
            document.querySelector(".openbtn").classList.remove("hidden");
        }

        document.getElementById('knn-form').onsubmit = async function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const formObject = Object.fromEntries(formData.entries());

            const diagnosisBox = document.getElementById('diagnosis');

            try {
                const response = await fetch('{{ url_for('page2') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(formObject),
                });

                const result = await response.json();
                diagnosisBox.textContent = result.diagnosis;

                if (result.diagnosis.includes('High Risk Detected')) {
                    diagnosisBox.className = 'result-box high-risk';
                } else {
                    diagnosisBox.className = 'result-box low-risk';
                }

            } catch (error) {
                console.error('Error:', error);
                diagnosisBox.textContent = 'Error Occurred';
                diagnosisBox.className = 'result-box high-risk';
            }
        };
    </script>
</body>
</html>
